# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [107]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import os

# Import API key
from api_keys import g_key
g_key = "AIzaSyANlsfrmdQi9Ap-IzyOXOIr1xgNW2z-5hc"
#configure gmaps with API key
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [108]:
data = "weather_data.csv"

#read data
weather_data = pd.read_csv(data)

#set data table
weather = pd.DataFrame(weather_data)
print(f'{weather}')

Unnamed: 0              City  Cloudiness Country        Date  Humidity  \
0             0       Yellowknife          92      CA  1584630000        99
1             1         Magdalena          95      PH  1584630000        95
2             2        Lavrentiya         100      RU  1584630000        97
3             3          Nichinan         100      JP  1584630000        54
4             4           Rikitea         100      PF  1584630000        79
..          ...               ...         ...     ...         ...       ...
570         570         St Helens         100      GB  1584630000        40
571         571          Bayangol          74      RU  1584630000        73
572         572        Ambon City         100      ID  1584630000        74
573         573  Dera Ismail Khan          68      PK  1584630000        42
574         574           Varhaug          76      NO  1584630000        82

         Lat       Lng  Max Temp  Wind Speed
0    62.4560 -114.3525     -8.77        7.61
1    14.1999  121.4290     78.89        4.03
2    65.5833 -171.0000     30.83       21.45
3    31.6000  131.3667     56.03       17.65
4   -23.1203 -134.9692     78.71        9.51
..       ...       ...       ...         ...
570  53.4500   -2.7333     49.73        6.08
571  50.6977  103.4656     22.19        2.21
572  -3.6954  128.1814     81.95        1.54
573  31.8327   70.9024     73.85        6.20
574  58.6147    5.6457     42.35       21.30

[575 rows x 10 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [109]:
#import gmaps
gmaps.configure(api_key = g_key)

locations = weather[["Lat", "Lng"]]
humidity = weather["Humidity"].astype(int)
maxhumidity = humidity.max()

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False, max_intensity = maxhumidity, point_radius = 1)

fig.add_layer(heat_layer)
plt.savefig("humidity2.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [100]:
#find ideal weather condition
#max temp lower than 80 and higher than 70
#wind less than 10
#zero cloudiness
max_temp = weather.loc[(weather["Max Temp"] < 80) & (weather["Max Temp"] > 70)]
wind = max_temp.loc[(max_temp["Wind Speed"] < 10)]
cloud = wind.loc[(wind["Cloudiness"] == 0)]
cloud

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
30,30,Hermanus,0,ZA,1584630000,81,-34.4187,19.2345,72.59,3.87
97,97,San Patricio,0,MX,1584630000,60,19.2167,-104.7000,76.37,2.73
110,110,Buraidah,0,SA,1584630000,15,26.3260,43.9750,78.66,3.76
128,128,Flinders,0,AU,1584630000,65,-34.5833,150.8552,73.85,6.67
133,133,Mawlaik,0,MM,1584630000,26,23.6333,94.4167,72.05,2.33
167,167,Willowmore,0,ZA,1584630000,24,-33.2926,23.4895,79.07,3.69
207,207,Pathein,0,MM,1584630000,78,16.7833,94.7333,77.27,9.44
378,378,Iquique,0,CL,1584630000,62,-20.2208,-70.1431,76.28,6.08
389,389,Vallenar,0,CL,1584630000,55,-28.5708,-70.7581,70.25,8.95
391,391,San Rafael,0,AR,1584630000,29,-34.6177,-68.3301,76.19,4.54
417,417,Tallahassee,0,US,1584630000,66,30.4383,-84.2807,77.52,7.65
418,418,Melipilla,0,CL,1584630000,38,-33.7000,-71.2167,74.21,4.79
482,482,Marawi,0,PH,1584630000,92,7.9986,124.2928,75.70,3.98
485,485,Richards Bay,0,ZA,1584630000,77,-28.7830,32.0377,77.27,6.87
544,544,Saint-Pierre,0,RE,1584630000,59,-21.3393,55.4781,79.75,8.55

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [101]:
#create hotel_df with hotel name column
hotel_df = pd.DataFrame(cloud, columns = ["City", "Country", "Lat", "Lng"])
hotel_df["Hotel Name"] = ""
hotel_df

             City Country      Lat       Lng Hotel Name
30       Hermanus      ZA -34.4187   19.2345
97   San Patricio      MX  19.2167 -104.7000
110      Buraidah      SA  26.3260   43.9750
128      Flinders      AU -34.5833  150.8552
133       Mawlaik      MM  23.6333   94.4167
167    Willowmore      ZA -33.2926   23.4895
207       Pathein      MM  16.7833   94.7333
378       Iquique      CL -20.2208  -70.1431
389      Vallenar      CL -28.5708  -70.7581
391    San Rafael      AR -34.6177  -68.3301
417   Tallahassee      US  30.4383  -84.2807
418     Melipilla      CL -33.7000  -71.2167
482        Marawi      PH   7.9986  124.2928
485  Richards Bay      ZA -28.7830   32.0377
544  Saint-Pierre      RE -21.3393   55.4781

In [111]:
g_key = "AIzaSyANlsfrmdQi9Ap-IzyOXOIr1xgNW2z-5hc"
for index, row in hotel_df.iterrows():

    #
    latitude = row['Lat']
    longitude = row['Lng']
    city = row['City']
    country = row['Country']

    #url and api key
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(f"https://maps.googleapis.com/maps/api/place/textsearch/json?location={latitude},{longitude}&radius=5000&type=hotel&key={g_key}").json()
    
    
    results = response['results']
    
    try:
        hotelname = response['results'][7]['name']
        print(f"Closest hotel in {city} at {latitude} , {longitude} is {hotelname}.")
        
        hotel_df.loc[index, "Hotel Name"] = hotelname
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 30: Hermanus.
Closest hotel in Hermanus at -34.4187 , 19.2345 is 56 Mitchell Street.
------------
Retrieving Results for Index 97: San Patricio.
Closest hotel in San Patricio at 19.2167 , -104.7 is Hotel Delfin.
------------
Retrieving Results for Index 110: Buraidah.
Closest hotel in Buraidah at 26.326 , 43.975 is Al Rashed Grand Mosque.
------------
Retrieving Results for Index 128: Flinders.
Closest hotel in Flinders at -34.5833 , 150.8552 is Pelican Pre-School & Long Day Care @ Shellharbour.
------------
Retrieving Results for Index 133: Mawlaik.
Closest hotel in Mawlaik at 23.6333 , 94.4167 is ပြည့်ဖြိုးအောင် (မြန်မာထမင်းဆိုင်).
------------
Retrieving Results for Index 167: Willowmore.
Closest hotel in Willowmore at -33.2926 , 23.4895 is Saverite.
------------
Retrieving Results for Index 207: Pathein.
Closest hotel in Pathein at 16.7833 , 94.7333 is Brilliance.
------------
Retrieving Results for Index 378: Iquique.
Closest hotel in Iquique at -20.2208 , -70.1431 is Hotel Diego de Almagro Iquique.
------------
Retrieving Results for Index 389: Vallenar.
Closest hotel in Vallenar at -28.5708 , -70.7581 is Hospedaje Stylo.
------------
Retrieving Results for Index 391: San Rafael.
Closest hotel in San Rafael at -34.6177 , -68.3301 is Hotel Francia.
------------
Retrieving Results for Index 417: Tallahassee.
Closest hotel in Tallahassee at 30.4383 , -84.2807 is Courtyard by Marriott Tallahassee Downtown/Capitol.
------------
Retrieving Results for Index 418: Melipilla.
Closest hotel in Melipilla at -33.7 , -71.2167 is Chilexpress Centro de Servicios.
------------
Retrieving Results for Index 482: Marawi.
Closest hotel in Marawi at 7.9986 , 124.2928 is The Generics Pharmacy - Marawi City, Lanao del Sur.
------------
Retrieving Results for Index 485: Richards Bay.
Closest hotel in Richards Bay at -28.783 , 32.0377 is MDI Hydroblasting and Vacuum Specialist.
------------
Retrieving Results for Index 544: Saint-Pierre.
Closest hotel in Saint-Pierre at -21.3393 , 55.4781 is L'Oasis de Terre Rouge.
------------

In [89]:
hotel_df.head()

,City,Country,Lat,Lng,Hotel Name
30,Hermanus,ZA,-34.4187,19.2345,56 Mitchell Street
97,San Patricio,MX,19.2167,-104.7000,Hotel Delfin
110,Buraidah,SA,26.3260,43.9750,Al Rashed Grand Mosque
128,Flinders,AU,-34.5833,150.8552,Pelican Pre-School & Long Day Care @ Shellharbour
133,Mawlaik,MM,23.6333,94.4167,ပြည့်ဖြိုးအောင် (မြန်မာထမင်းဆိုင်)

In [112]:
#save data
hotel_df['Hotel Name']= hotelname
hotel_df.dropna()
hotel_df.to_csv('hotel_info.csv')

In [113]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
location = hotel_df[["Lat", "Lng"]]

In [114]:
fig = gmaps.figure()
#heat later
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius = 1, opacity=1)
#marker layer to a variable
marker_layer = gmaps.marker_layer(location, hover_text='', label='', info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
plt.savefig("vacationheatmapwithhotels.png")

fig

Figure(layout=FigureLayout(height='420px'))